[submodule ".janus/vim-less"]
	path = .janus/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".janus/mustache.vim"]
	path = .janus/mustache.vim
	url = git://github.com/juvenn/mustache.vim.git
[submodule ".janus/pyflakes-vim"]
	path = .janus/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule ".janus/vim-surround.vim"]
	path = .janus/vim-surround.vim
	url = git://github.com/tpope/vim-surround.git
[submodule ".janus/vim-repeat"]
	path = .janus/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
